{% extends "base_generic.html" %}

{% block content %}
  {% if user == post.author %}
    <a href="{% url "post_delete" pk=post.pk %}">Delete</a>
    <a href="{% url "post_edit" pk=post.pk %}">Edit</a>
  {% endif %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  <p>By {{ post.author.username }} on {{ post.created_at }}</p>
  <h2>Comments</h2>
  <ul>
    {% for comment in post.comments.all %}
      <li>
        <p>{{ comment.content }}</p>
        <p>By {{ comment.author.username }} on {{ comment.created_at }}</p>
      </li>
    {% endfor %}
  </ul>
  <h2>Add a comment</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add comment</button>
  </form>
{% endblock %}